/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #201f1f;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/* Link de cadastrar nova pessoa */
a.novo {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #28a745;
    color: rgb(230, 225, 225);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.novo:hover {
    background-color: #218838;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(190, 187, 187);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #472d2d;
}

table th {
    background-color: #eeeaea;
    color: #333;
}

table tr:hover {
    background-color: #f9f9f9;
}






/*///////////////////////////////////////////////////////////////////

/* Geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #181717;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    text-align: center;
}

/* Título */
h2 {
    color: #f5f0f0;
    margin-bottom: 20px;
    
    
}

/* Formulário */
form {
    background-color: #6d6868;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    
}

/* Labels e inputs */
form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 100%;
    padding: 8px 10px;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #111010;
    border-radius: 4px;
    box-sizing: border-box;
   
}

/* Botão */
form input[type="submit"] {
    background-color: #2ddf54;
    color: rgb(20, 14, 14);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #9de7b6;
    
}
